@page
@model FitnessLogger.Pages.ExerciseEntry.CreateModel
@{
}

<br>
<h2>New Exercise Entry</h2>

@if (Model.errorMessage.Length > 0)
{
	<div class='alert alert-warning alert-dismissible fade show' role="alert">
		<strong>@Model.errorMessage</strong>
		<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label="Close"></button>
	</div>
}

<form method="POST">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">EntryID</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="entryID" value="@Model.entryInfo.entryID">
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">ExerciseID</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="exerciseID" value="@Model.entryInfo.exerciseID">
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Weight</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="weight" value="@Model.entryInfo.weight">
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Sets</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="sets" value="@Model.entryInfo.sets">
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Repetitions</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="repetitions" value="@Model.entryInfo.repetitions">
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Notes</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="notes" value="@Model.entryInfo.notes">
		</div>
	</div>

	@if (Model.successMessage.Length > 0)
	{
		<div class="row-mb-3">
			<div class="col-sm-9">
				<div class='alert alert-success alert-dismissible fade show' role="alert">
					<strong>@Model.successMessage</strong>
					<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label="Close"></button>
				</div>
			</div>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>
</form>